.container {
    display: flex;
    height: 90vh;
}

.left-section {
    background-color: red;
    width: 40%;
}

.right-section {
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    justify-content: space-evenly;
}
