.container {
    display: flex;
    height: 90vh;
}

.left-section {
    background-color: red;
    width: 40%;
}

.right-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10% 0;
    background-color: #dbdbdbe5;
}

.form-header {
    font-size: 25px;
    padding-left: 10%;
    margin-bottom: 2%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 500px;
}

li {
    display: flex;
    flex-direction: column;
    padding: 1% 0;
}