.container {
    display: flex;
    height: 90vh;
}

.left-section {
    background-color: red;
    width: 40%;
}

.right-section {
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 500px;
}

li {
    display: flex;
    flex-direction: column;
}